body{
	margin: 10vh auto;
	background: #F1948A;
}

.left{
	float: left;
}

.user-dropdown{
	margin-left: 5vh;
	margin-top: 1vh;
}

.cust-container{
	width: 90vw;
	margin: 0 auto;
}

.calendar{
	margin-top: 5vh;
	border:  1px solid blue;
	background: #F9E79F;
}

.event:nth-child(2){
	margin-top: 30px;
}

.day{
	border:  1px solid green;
}

.day-header{
	padding: 10px 30px;
	border:  1px solid grey;
	color: white;
	background: grey;
	text-align: center;
}

.event{
	margin: 20px auto;
	padding: 1vw 2vw;
	background: yellow;
	text-align: center;
	color: blue;
	border-radius: 25px;
}