body {
  background-color: #F5CBA7;
  min-height: 1000px;
  font-family: 'Helvetica Neue';
  color: black;
}

#page-wrap {
  width: 800px;
  margin: 0 auto;
}

.nav {
  background-color: #A9CCE3;
  box-shadow: inset 0 -1px 0 black;
  position: fixed;
  z-index: 100;
  height: 47px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 14px;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#write {
  position: absolute;
  float: right;
  right: 210px;
  left: none;
  font-family: sans-serif;
}

#topics {
  position: absolute;
  float: right;
  right: 140px;
  left: none;
}

#feed {
  position: absolute;
  float: right;
  right: 280px;
  left: none;
}


#username {
  position: absolute;
  float: right;
  right: 60px;
  left: none;
}

.nav #quora-logo {
  position: absolute;
  height: 100%;
  left: 33px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav #user-pic {
  position: absolute;
  height: 50%;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;

}

.nav #search-box {
  background-color: white;
  box-shadow: inset 0 -1px 0 #cacaca;
  z-index: 3;
  position: absolute;
  height: 70%;
  width: 400px;
  left: 150px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: Helvetica;
  font-size: 15px;
}

.nav div img {
  display: inline-block;
  position: absolute;
  left: 7px;
  top: 5px;
  width: 20px;
  height: 20px;
}

.nav div span {
  display: inline-block;
  position: absolute;
  color: blue;/* grey*/
  top: 6px;
  left: 33px;
  font-size: 17px;
}

.main-col {
  z-index: 0;
  position: absolute;
  width: 485px;
  min-height: 1000px;
  top: 60px;
  left: 400px;
}


.side-col-left {
  z-index: 0;
  position: absolute;
  width: 265px;
  min-height: 641px;
  top: 60px;
  left: 50px;
}


.side-col-right {
  z-index: 0;
  position: absolute;
  width: 265px;
  min-height: 641px;
  top: 60px;
  right: 50px;
}


.feed-switcher {
  position: relative;
  width: 100%;
  margin: 0 0 15px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e0e0e0;

}

.feed-switcher .list-contents {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-contents li {
  font-weight: bold;
  margin-left: 0;
  margin-right: 20px;
  display: inline;
  list-style: none;
}

#feed-tab-1 {
  
}

#feed-tab-2 {
  color: black;
  font-weight: normal; 
}

.feed {
  position: relative;
}

.feed-item {
  width: 100%;
  float: left;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #e0e0e0;
  border-top: 0;
  margin-bottom: 10px;
}

.post-title {
  display: inline-block;
  max-width: 400px;
  margin-bottom: 7px;
}

.user-name {
  font-weight: bold;
  margin-right: 2px;
}

.light-grey {
  color: #e0e0e0;
  margin-right: 2px;
}

.post-time {
  color: #e0e0e0;
  font-size: 11px;
}

.feed-user-pic {
  position: absolute;
  left: -50px;
  top: 0px;
}

.feed-user-pic .pic {
  height: 40px;
}


.topic-pic {
}

.topic-pic .pic {
  height: 20px;
}

.vote-count-box {
  position: relative;
  background-color: #007849;
  color: white;
  position: absolute;
  border-radius: 20%;
  height: 25px;
  width: 25px;
  top: 48px;
}

.vote-count-num {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 1.5em;
}

.post-body {
  position: relative;
  left: 30px;
  margin-bottom: 10px;
}

.article-title {
  position: relative;
  font-weight: bold;
  color: #882601;
  font-size: 18px;
  line-size: 1.2em;
  margin-bottom: 3px;
  left: -30px;
  top: -3px;
}

.article-author {
  font-weight: bold;
  font-size: 1em;
  line-size: 1.2em;
  margin-bottom: 4px;
  color: #007849
}



.more-link {
  text-decoration: none;
  color: #007849;
}

.feed-item-actions {
  position: relative;
  left: -30px;
  height: 30px;  
}

.feed-item-actions .action-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  color: #007849;
}

.feed-item-actions .action-buttons .button {
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 15px;
}

.feed-item-actions .action-buttons .button img {
  height: 10px;
  width: 10px;
  opacity: .7;
}

.side-col-question-area {
  position: relative;
  width: 100%;
  margin: 0 0 15px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}

.side-col-question-area div {
  font-weight: bold;
  margin-bottom: 10px;
}

.question-box {
  font-size: 1em;
  resize: none;
  height: 3.2em;
  width: 252px;
  padding-right: 5px;
  overflow: hidden;
  line-height: 19px;
  text-align: start;
}

.side-column-nav-box {
  position: relative;
  width: 100%;
  margin: 0 0 15px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e0e0e0;
}

.side-column-nav-box .links {
  color: #882601;
  list-style: none;
  margin-left: -40px;
  font-weight: bold;
  line-height: 1.65em;
}

.side-column-nav-box .links div {
  height: 15px;
}

.side-column-nav-box .links li div {
  display: inline;
}

.notif-circle {
  position: absolute;
  background-color: #007849;
  color: white;
  min-height: 20px;
  width: 26px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 2px;
}

.notif-circle div {
  position: absolute;
  margin-left: 8px;
  margin-top: -1px;
}