
aside{
	float:right;
	width:16%;
	background:#99b898;
	text-align:center;
	height:900px;
}
aside p{
    margin: 0;
    padding-top: 2px;
}
article{
    float:left;

    width:32.2%;
   
}
iframe{
    float:right;
	
	margin-left:0;
    
}

h3{
	background:yellow;
}

div {
    width:75%;

}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}
.boxed {
  
  border: 1px solid green ;
  margin-right: 5px;
  background-color:#FAD7A0;
  
}

.camp {
  margin-top:10px;
  float:right;
  margin-left:5px;
  
}
