
aside {
    width: 23.3%;
    float: right;
    margin-left: 0;
    margin-top: 20px;
}

aside p{
    margin: 0;
    padding-top: 2px;
}
article{
    float:left;

    width:32.2%;
   
}
iframe{
    float:right;
	
	margin-left:0;
    
}

div {
    width:75%;

}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

.camp {
	margin-top:10px;
  float:right;
  margin-left:5px;
  
}
